
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<br/>
<h2>There is a webinar on Sagitec Software studio on 14th of july 2022</h2>
<h4>Those who are interested should get  themselves registered on or before 12 july 2022</h4>
@Html.ActionLink("Registration link", "Registration","Webinar");